<div class="productContainer">
    <div class="product-card" *ngFor="let item of courses">
        <img [src]="item.image" [alt]="item.name" class="productImage">
        <div class="description">
            <span>{{ item.name }}</span>
            <p>{{ item.sortDesc }}</p>
            <b><span style="font-size:25px;">₹ {{ item.fees }}</span></b>
            <!-- <button class="btn bg-primary"    routerLink="/course-info">Inroll Know</button> -->
            <!-- <a class="btn btn-primary" routerLink="/course-info, item.id">Enroll Now</a>
             -->
            <a class="btn btn-primary" [routerLink]="['/degree-info', item.id]">
                Enroll Now
            </a>
        </div>

    </div>
</div>