<div class="container mt-4">
    <div class="row shadow rounded p-3 bg-light">

        <!-- Left Container -->
        <div class="col-md-6 info-box bg-secondary-subtle rounded p-3">
            <h3>Institute Information</h3>
        
            <ul class="info-list">
                <li>Welcome to our Learning Management System.</li>
                <li>Access courses, assignments, exams, and important updates.</li>
                <li>Manage your learning journey efficiently.</li>
                <li>Stay connected for latest notices and announcements.</li>
                <li>Get digital resources and interactive study materials.</li>
                <li>Download admit cards and check results online.</li>
                <li>Track fee payments and receipts easily.</li>
                <li>Explore the portal for better learning opportunities.</li>
            </ul>
        </div>

        <!-- Right Container -->
        <div class="col-md-6 text-center">
           <a href="#"> <img src="images/lmsimage.jpg" alt="Logo" class="useprofile"></a>
        </div>

    </div>
</div>